aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.1
attrs==21.2.0
backoff==1.11.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
decorator==4.4.2
distlib==0.3.3
Django==4.0
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.4.0
frozenlist==1.2.0
future==0.18.2
idna==3.3
imageio==2.10.4
imageio-ffmpeg==0.4.5
moviepy==1.0.3
multidict==5.2.0
numpy==1.21.4
opencv-python==4.5.4.58
Panda3D==1.10.10
panda3d-gltf==0.13
panda3d-simplepbr==0.9
Pillow==8.4.0
platformdirs==2.4.0
proglog==0.1.9
pyglet==1.5.21
pyperclip==1.8.2
pypiwin32==223
pywin32==302
requests==2.26.0
screeninfo==0.8
six==1.16.0
spotify==0.10.2
sqlparse==0.4.2
tqdm==4.62.3
typing_extensions==4.0.0
tzdata==2021.5
urllib3==1.26.7
ursina==4.0.0
virtualenv==20.10.0
yarl==1.7.2
